html,
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #313241;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 60%;
  height: auto;
  margin-top: 4rem;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 500%;
  margin-bottom: 1rem;
}

.slider input {
  display: none;
}

.slide {
  width: 20%;
  transition: all 0.6s ease;
  border-radius: 0.4rem;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: auto;
  border-radius: 0.4rem;
}

#radio-1:checked ~ .slides > .main-slide {
  margin-left: 0;
  animation: show 3s 1;
}

#radio-2:checked ~ .slides > .main-slide {
  margin-left: -20%;
}

#radio-3:checked ~ .slides > .main-slide {
  margin-left: -40%;
}

#radio-4:checked ~ .slides > .main-slide {
  margin-left: -60%;
}

#radio-5:checked ~ .slides > .main-slide {
  margin-left: -80%;
}

#radio-2:checked ~ .slides > .slide:nth-child(2),
#radio-3:checked ~ .slides > .slide:nth-child(3),
#radio-4:checked ~ .slides > .slide:nth-child(4),
#radio-5:checked ~ .slides > .slide:nth-child(5) {
  animation: show 3s 1;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#radio-1:checked ~ .legend > .slides-texts > .text-1 {
  display: block;
  animation: opacity 2s 1;
}

#radio-2:checked ~ .legend > .slides-texts > .text-2 {
  display: block;
  animation: opacity 2s 1;
}

#radio-3:checked ~ .legend > .slides-texts > .text-3 {
  display: block;
  animation: opacity 2s 1;
}

#radio-4:checked ~ .legend > .slides-texts > .text-4 {
  display: block;
  animation: opacity 3s 1;
}

#radio-5:checked ~ .legend > .slides-texts > .text-5 {
  display: block;
  animation: opacity 2s 1;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.slides-texts {
  width: 70%;
  overflow: hidden;
}

.text {
  display: none;
  width: 100%;
  margin-top: 0;
  font-size: 1.3rem;
  line-height: 1.3rem;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 8rem;
}

.label {
  cursor: pointer;
  width: calc(8rem / 5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-icon {
  display: block;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: cornflowerblue;
}

.label:hover .label-icon {
  background-color: #fff;
}

.label:active .label-icon {
  background-color: #d8d66c;
}

#radio-1:checked ~ .legend > .navigation > .label[for="radio-1"] > .label-icon,
#radio-2:checked ~ .legend > .navigation > .label[for="radio-2"] > .label-icon,
#radio-3:checked ~ .legend > .navigation > .label[for="radio-3"] > .label-icon,
#radio-4:checked ~ .legend > .navigation > .label[for="radio-4"] > .label-icon,
#radio-5:checked ~ .legend > .navigation > .label[for="radio-5"] > .label-icon {
  background-color: transparent;
  border: 0.2rem solid cornflowerblue;
}

#radio-1:checked
  ~ .legend
  > .navigation
  > .label[for="radio-1"]:hover
  > .label-icon,
#radio-2:checked
  ~ .legend
  > .navigation
  > .label[for="radio-2"]:hover
  > .label-icon,
#radio-3:checked
  ~ .legend
  > .navigation
  > .label[for="radio-3"]:hover
  > .label-icon,
#radio-4:checked
  ~ .legend
  > .navigation
  > .label[for="radio-4"]:hover
  > .label-icon,
#radio-5:checked
  ~ .legend
  > .navigation
  > .label[for="radio-5"]:hover
  > .label-icon {
  background-color: transparent;
  border: 0.2rem solid #fff;
}

#radio-1:checked
  ~ .legend
  > .navigation
  > .label[for="radio-1"]:active
  > .label-icon,
#radio-2:checked
  ~ .legend
  > .navigation
  > .label[for="radio-2"]:active
  > .label-icon,
#radio-3:checked
  ~ .legend
  > .navigation
  > .label[for="radio-3"]:active
  > .label-icon,
#radio-4:checked
  ~ .legend
  > .navigation
  > .label[for="radio-4"]:active
  > .label-icon,
#radio-5:checked
  ~ .legend
  > .navigation
  > .label[for="radio-5"]:active
  > .label-icon {
  background-color: transparent;
  border: 0.2rem solid #d8d66c;
}

@media (max-width: 768px) {
  .slider {
    width: 80%;
  }
}

@media (max-width: 420px) {
  .legend {
    flex-direction: column-reverse;
    align-items: center;
  }
  .slides-texts,
  .text {
    width: 100%;
  }
  .text {
    font-size: 1rem;
  }
  .navigation {
    margin-bottom: 1rem;
  }
}
